/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-coffee {
  background: url('./img/kaique-rocha.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
